<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="assets/index.css">
</head>

<body>

<div class="login-form">
    <form id="loginForm">
        <input type="text" id="email" placeholder="Email Address">
        <input type="password" id="password" placeholder="Password">
        <label id="blockchainAddress">Blockchain Address Info</label> <!-- 将 blockchainAddress 元素移至 password 后 -->
        <button type="submit">Login</button>
    </form>
    <button id="registerEmailBtn">Register Email</button>
</div>

<script>
    // Your JavaScript code to handle dynamic data and interactions
</script>
</body>

</html>
